body {
    font-family: 'Roboto', sans-serif;
    background-color: #090909;
    padding: 20px;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('Assets/wallpaper.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
    pointer-events: none; /* Permite el scroll sin bloquearlo */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ef9f0a;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    color: #333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2em; /* Tamaño de fuente similar al h1 */
    font-weight: bold; /* Peso de fuente similar al h1 */
    margin: 60px 0; /* Espaciado similar al h1 */
margin-left: 320px;
}

.title:hover {
    color: #555; /* Cambia el color al pasar el cursor */
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff; /* Cambiado a blanco para mayor contraste */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Estilo para las tarjetas */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: transform 0.2s, box-shadow 0.2s; /* Efecto de transición */
}

.card:hover {
    transform: translateY(-5px); /* Eleva la tarjeta ligeramente al pasar el ratón */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más profunda al pasar el ratón */
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card .price {
    font-size: 20px;
    color: #28a745;
}

.agregados {
    color: #ba6205;
}

.cardLowPrice {
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #e0ffe0;  
    border-color: #4caf50;    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: transform 0.2s, box-shadow 0.2s; /* Añadir transición para suavidad */
}

/* Efecto de hover */
.cardLowPrice:hover {
    transform: translateY(-7px); /* Elevar la tarjeta al pasar el ratón */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más profunda al pasar el ratón */
}


/* Estilo del formulario de búsqueda */
.Search form {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: red;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s;
}

.favorite-btn:hover {
    transform: scale(1.2);
}

.favorite-btn.active {
    color: #ff4b5c;
    background-color: #ffe6e6;
}


/* Estilos para el footer */

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #ef9f0a;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 9px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Cambiado a 100% */
    box-shadow: 0 -1px 5px rgba(71, 71, 71, 0.3);
}

.footer h2 {
    margin: 0;
    font-weight: 400;
}


/* Responsividad para dispositivos móviles */

@media (max-width: 600px) {
    .footer {
        font-size: 0.8em;
        padding: 15px;
    }
}